@charset "UTF-8";

* { padding: 0; margin: 0; }
*, *::after, *::before { box-sizing: border-box; }

body {
	font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
	font-size: 14px;
	color: #222;
}

.btn {
	color: #333;
	border: 2px solid #000000;
	background-color: #fff;
	padding: 5px 30px;
	border-radius: 4px;
	font-weight: 500;
	cursor:pointer;
	font-size: 14px;
	font-family: "맑은 고딕", 나눔고딕, 돋움, sans-serif;
	vertical-align: baseline;
}
.btn:active, .btn:focus, .btn:hover {
	background-color: #f8f9fa;
	color:#333;
}
.btn[disabled], fieldset[disabled] .btn {
	pointer-events: none;
	cursor: default;
	opacity: .65;
}

.board {
	width: 800px; 
	margin: 30px auto;	
}

.form-title {
	font-size: 25px;
	width: 100%;
}

.form-body {
	margin-top: 30px;
	width: 100%;
}

.form-body ul {
	clear: both;
	list-style: none;	
}

.form-body ul li {
	float: left;
	height: 43px;
	line-height: 43px;
	border-bottom:1px solid #A6A6A6;
}

.form-body ul:first-child li {
	border-top:2px solid #212529; 
}

.form-body ul li:first-child {
	padding-right: 10px;
	width: 120px;
	text-align: right;
	background: #D5D5D5;
}

.form-body ul li:nth-child(2) {
		padding-left: 10px; width: 680px;
}

.form-body ul 

.btn1 {
	background:#000000;
	color: #FFFFFF;
	width: 80px; 
}

.btn2 {
	background:#000000;
	color: #FFFFFF;
	width: 120px; 
}

.form-footer {
	clear: both;
	width: 100%;
	padding: 30px 0;
	text-align: center;
	
}

.form-body input[type=text],
.form-body input[type=password],
.form-body input[type=email] {
		width: 30%;	
}



.line {
	margin: 0 auto;
	width: 750px;
	border-bottom: 2px solid #000000;

}

.form-body ul:nth-child(3) li:nth-child(n+1) {
	height: 80px;
}

.form-body ul:nth-child(3) li:nth-child(1) {
	align-content: center;
}

/*
.col-input {
	display: flex;
	align-items: center;  
}
*/



.form-control {
	height: 25px;
	line-height: 25px;
}









